{% extends "layout.html" %}

    {% block content %}
        <h1 class="page_heading"> This is a Gürtel page </h1>
        <div class="productViewWrapper">
            {% for guertelKollektion in guertelKollektion %}
                <div class="productView">
                    <h2> {{ guertelKollektion.productName }}</h2>
                    <img src="{{ guertelKollektion.imageLink }}" alt="">
                    <p>{{ guertelKollektion.price }}</p>
                </div> 
            {% endfor %}
        </div>
    {% endblock content %}